body {
		font-family: 'Fredoka One', cursive;
	}

img {
	width: 270px;
	border: 4px solid green;
}

/*GENERAL*/

	.nav-routing {
		list-style: none;
		padding: 20px 20% 80px;
	}
		.nav-routing li {
			margin-bottom: 10px;
		}
			.nav-routing li a {
				color: white;
			}

	.app-drawer-0 #contentContainer.app-drawer {
		width: 100%;
		background: rgba(255,255,255,0.7);
	}
		.app-drawer-0 #contentContainer.app-drawer a {
			color: white;
		}

	#instructions-modal {
		margin-top: 20px;
	}

	#footer {
		background-color: yellow;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 70px;
	}
		#footer p {
			line-height: 70px;
		}


	.center {
		text-align: center;
	}
	.centermargin {
		margin: 0 auto 20px;
	}
	.img-puff {
		display: block;
		width: 100%;
		height: 100%;
	}
	.infobox {
		border: 1px solid red;
		width: 80%;
		height: 75%;
		position: absolute;
		margin-left: 20px;
		background: white;
	}
	.route-images {
		margin: 10px;
	}

	.button {
		border-radius: 8px;
	}
	#question-wrap {
		margin-top: 40px;
		margin-bottom: 40px;
	}

/*COLOURS*/

	.crimson {
		background-color: crimson;
		color: white;
	}
	.green {
		background-color: green;
		color: white;
	}
	.blue {
		background-color: lightblue;
	}
	.white {
		background-color: white;
	}

/*MEDIA (responsive)*/

@media ( min-width: 768px ) {
	img {
		width: 500px;
	}
	.app-drawer-0 #contentContainer.app-drawer {
		width: 20%;
	}
}